default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: cv_api_development
  username: postgres
  # ESTO SOLO SE USA EN TU PC LOCAL
  password: <%= Rails.application.credentials.database[:password] %>

test:
  <<: *default
  database: cv_api_test
  # AQUÍ NO HAY CONTRASEÑA. GitHub se encarga de conectar automáticamente.

production:
  <<: *default
  database: cv_api_production
  username: cv_api
  password: <%= ENV["CV_API_DATABASE_PASSWORD"] %>