default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: cv_api_development
  # SOLO aqui usamos usuario y contraseña
  username: postgres
  password: <%= Rails.application.credentials.database&.[](:password) %>

test:
  <<: *default
  database: cv_api_test
  # Aqui NO HAY usuario ni contraseña, para que no falle en GitHub

production:
  <<: *default
  database: cv_api_production
  username: cv_api
  password: <%= ENV["CV_API_DATABASE_PASSWORD"] %>