default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: cv_api_development
  # Aquí solo usamos credenciales en tu PC
  username: postgres
  password: <%= Rails.application.credentials.database[:password] %>

test:
  <<: *default
  database: cv_api_test
  # AQUÍ NO PONEMOS PASSWORD. CI se encarga de conectar automáticamente.

production:
  <<: *default
  database: cv_api_production
  username: cv_api
  password: <%= ENV["CV_API_DATABASE_PASSWORD"] %>